* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  background-color: aliceblue;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card-image {
  position: absolute;
  background-color: pink;
  width: 400px;
  height: 400px;
  transition: 1s ease-in;
}

.card-image img {
  width: 400px;
}

.card-info {
  width: 400px;
  padding: 10px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  color: black;
  background-color: #a0a0a0;
  transform: translateY(145px);
  transition: 1s ease-in;
}

.card:hover .card-info {
  transform: translateY(0px);
}

.card:hover .card-image {
  transform: translateY(-145px);
}
